.footer {
    background-image: url(../img/footer-bckg-mobile.png);
    background-repeat: no-repeat;
 //   background-size: 100%;
    background-size: contain;
    background-position: top;
    position: relative;
    margin-top: $wrapper-md;
    overflow-x: hidden;

    @include md {
        background-image: url(../img/footer-bckg-desktop.png);
        background-size: 113%;
        margin-top: rem-calc(264px);
    }

    @include lg {
        background-size: contain;
    }


    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include md {
            flex-direction: row-reverse;
        }
    }

    &__content-text {
        text-align: justify;
        color: $body-base-color;
        max-width: rem-calc(240px);

        @include md {
            text-align: center;
            align-self: center;
            max-width: rem-calc(320px);
            

            & > p {
            font-size: rem-calc(14px);
            color: $footer-bckg-color;
            text-shadow: -1px 1px 1px rgba(2, 66, 132, 0.20);
            }
        }

        @include lg {
            max-width: rem-calc(544px);
            margin-right: $wrapper-lg;

            & > p {
                font-size: rem-calc(24px);
                color: $footer-bckg-color;
                text-shadow: -1px 1px 1px rgba(2, 66, 132, 0.20);
            }
        }
    }

    &__absolute-img {
        display: none;

        @include md {
            display: block;
            max-width: 30%;
            position: absolute;
            left: 0;
            top: rem-calc(92px);
        }

        @include lg {
            max-width: fit-content;
            top: rem-calc(99px);
        }
    }

    &__fixed-img {
        padding: $wrapper-md;
        width: 50%;

        @include md {
            padding: 0;
            width: 30%;
        }

        @include lg {
            padding: $wrap-vertical-footer-desktop;
            max-width: fit-content;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        color: $body-base-color;
        background-color: $footer-bckg-color;
    }

    &__info-about {
        margin-top: rem-calc(37px);
        margin-bottom: rem-calc(37px);
    }

    &__split {
        display: flex;
        flex-direction: column-reverse;

        @include lg {
            margin: $wrapper-sm 0;
             flex-direction: row;
        }
    }
}

.none {
    
    @include md {
        display: none;
    }
}

// Contact and payment part of footer
.payment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 50%;
    padding: 0 rem-calc(20px);

    &__box {
        display: flex;
        width: fit-content;
        margin-top: $wrapper-xs;
    }

    &__link {
        margin-right: rem-calc(8px);

        &:last-child {
            margin: 0;
        }

        &:hover {
            transform: scale(1.1, 1.1);
            transition: .2s;    
        }
    }

    & > p {
        text-align: center;
        margin-top: $wrapper-xs;
        @include font-size($font-size-footer...);

        @include md {
            text-align: left;
        }
    }

    & > img {
        width: 50%;
    }
}

.contact {
    flex: 1 1 50%;
    padding: 0 rem-calc(20px);
    display: flex;
    flex-wrap: wrap;

    // &__title {
    //     display: block;
    //     width: 100%;

    //     & > h5 {
    //         text-align: start;
    //         margin-top: 0;
    //     }
    // }

    &__item {
        letter-spacing: 0.02em;
        max-width: 220px;
        flex: 1 1 auto;
        @include font-size($font-size-footer...);

        @include lg {
            margin-right: rem-calc(105px);
        }

        & > h5 {
            text-align: start;
            margin-top: $wrapper-xs;
            margin-bottom: rem-calc(8px);

            @include md {
                margin-bottom: $wrapper-xs;
            }
        }

        & > p {
            color: $body-base-color;
            @include font-size($font-size-footer...);
        }

        & > a {
            text-decoration: underline;
            color: $body-base-color;

            &:hover {
                color: $primary-color;
            }
        }
    }
}