.register-section {
    background-image: url(../img/form-bckg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: $wrapper-lg;

    @include md {
        height: 70vh;
    }

    &__title {
        padding: $wrapper-md 0;
        @include md {

        }

        & > h2 {
            color: $body-base-color;
            text-align: center;
            text-transform: uppercase;

            @include md {
                text-align: left;
                text-transform: capitalize;
                margin: 0;
             }
        }
    }
}

.form-box {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07),
                0 2px 4px rgba(0,0,0,0.07),
                0 4px 8px rgba(0,0,0,0.07),
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07),
                0 32px 64px rgba(0,0,0,0.07);

    @include md {
        flex-direction: row;
        justify-content: space-evenly;
    }

    &__title {
        display: flex;
        justify-content: space-between;

        @include md {
            margin-bottom: rem-calc(16px);
        }

        @include lg {
            margin-bottom: $wrapper-md;
        }

        & > img {
            width: 20%;
            align-self: baseline;
            padding: rem-calc(6px);

            @include lg {
                width: 7%;
                margin-right: rem-calc(100px);
                padding: rem-calc(8px);
            }
        }
    }

    &__contact {
        background-color: $body-base-color;
        padding: $wrapper-xs;

        @include md {
            width: 70%;
            padding: $wrapper-sm;
        }

        @include lg {
            padding: $wrapper-md;
        }
    }

    &__info {
        background-color: $primary-color;
        padding: $wrapper-sm;

        @include lg {
            width: 30%;
            padding: rem-calc(64px);
        }

        & > img {
            width: 65%;
            margin: 0 auto;
            display: block;
        }
    }

    &__info-text {
        text-decoration: underline;
        text-align: end;
    }

    &__link {
        display: flex;
        align-items: center;
        margin-bottom: $wrapper-sm;
        justify-content: space-between;

        & > img {
            width: fit-content;
        }
    }

    &__media {
        margin-top: $wrapper-sm;

        & > a:not(:last-child) {
            margin-right: $wrapper-sm;
        }

        @include flex-row-center;
    }
}

.form-content {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin-bottom: $wrapper-sm;

    & > img {
        &:hover {
            transform: scale(1.1, 1.1);
            transition: .5s;
        }

        &:active {
            opacity: 1;
        }
    }
}

.form-group {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin: $wrapper-sm auto 0;

    @include md {
        margin: $wrapper-sm $wrapper-xs 0 0;
    }

    @include lg {
        margin: $wrapper-md $wrapper-lg 0 0;
    }
}

.form-control {
    border: none;
    border-bottom: 1px solid $primary-color;
    background-color: $body-base-color;
    outline: none;
    padding: rem-calc(8px) 0;
    margin-right: rem-calc(8px);

    @include md {
        padding: $wrapper-xs 0 rem-calc(16px) 0;
    }

    &:focus {
        border: 0.5px;
        border-bottom: 2px solid $primary-color;
    }

    &__email-field {

        &:focus:valid {
            background-image: url(../img/SVG/input-valid.svg);
            @include input-state;
        }

        &:focus:invalid {
            background-image: url(../img/SVG/input-invalid.svg);
            @include input-state;
        }
    }
}

input::placeholder, textarea::placeholder {
    color: $primary-color;
}

textarea {
    resize: none;
    padding-top: rem-calc(15px);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}