.container {
    width: 100%;
    margin: 0 auto;

    @include sm {
        max-width: 540px;
    }

    @include md {
        max-width: 720px;
    }

    @include lg {
        max-width: 960px;
    }

    @include xl {
        max-width: 1400px;
    }
}

.wrapper {
    padding-top: $wrapper-md;
//    padding-bottom: $wrapper-md;

    @include lg {
        padding-top: $wrapper-lg;
 //       padding-bottom: $wrapper-lg;
    }
}

.section-wrapp {
    padding-top: $wrapper-xs;
    padding-bottom: $wrapper-xs;

    @include sm {
    padding-top: $wrapper-sm;
    padding-bottom: $wrapper-sm;
    }

    @include lg {
        padding-top: $wrapper-md;
        padding-bottom: $wrapper-md;
    }
}