.hero-section {
    background-image: url(../img/hero-bckg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    margin-top: rem-calc(88px);

    @include lg {
        background-size: cover;
        margin-top: rem-calc(128px);
    }

    &__text-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: rem-calc(140px);

        @include xs {
            margin-top: rem-calc(175px);
        }

        @include md {
            margin-top: rem-calc(245px);
        }
    }

    &__caption {
        color: $primary-color;
        margin-bottom: rem-calc(24px);
        @include flex-column-center;
        
        &-logo {
            display: inline-block;
            width: $wrapper-md;
            height: $wrapper-md;
        }
    }
}