.intro-section {
    position: relative;

    &__about {
        margin: $container;

        @include sm {
            display: block;
            margin: 0;
        } 
    }

    &__card {
        display: flex;
        flex-direction: column;
        position: relative;
     //   margin-top: $wrapper-md;

        @include sm {
     //       margin-top: $wrapper-lg;
        } 

        @include lg {
            flex-direction: row;
            justify-content: space-evenly;
        } 
    }

    &__text {
    //    margin-top: rem-calc(16px);
        max-width: rem-calc(506px);

        @include sm {
            margin-top: rem-calc(64px);
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__background {
        display: block;

        &-logo {
            //
        }
    }

    &__message {
        color: #024284;
        background: $primary-ligh-color;
        box-shadow: -7px 8px 20px #02428469, -11px 13px 20px 2px #ffffff;

        & > p {
          font-family: $font-family-title;
          letter-spacing: 0.1em;
          text-align: center;
          text-transform: uppercase;
          padding: $wrapper-xs;
          color: $body-base-color;

          @include md {
            padding: $wrapper-md;
          }
        }

        @include md {
            position: absolute;
            bottom: 50px;
            right: 13%;
            border-radius: 40px 0 0 40px;
            max-width: 36%;
            
        }
    }
}

.rwrs {
    @include lg {
        flex-direction: row-reverse;
    } 
}

.intro-image {
    
    align-self: center;

    &__link {
        display: block;
        margin: $wrapper-md;

        @include md {
            margin: $wrapper-lg;
        }
    }

    &__logo {
        max-width: 150px;

        @include md {
            max-width: 350px;
        }
    }
}

