.nav {
    margin-bottom: rem-calc(31px);
    padding: 0 rem-calc(20px);

    &:last-child {
        margin-bottom: 0;
    }

    @include md {
        margin-bottom: 0;
    }

    &__item {
        color: $primary-color;
        letter-spacing: 0.02em;
        text-align: center;
        @include font-size($font-size-footer...);

        @include sm {
            
            @include font-size($font-desktop-footer...);
        }
    }

    &__link {
        text-decoration: none;
        color: $primary-color;
    }
}