.btn {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    color: $body-base-color;
    letter-spacing: 0.05em;
    
    &:hover {
        transform: scale(1.1, 1.1);
        transition: .2s;
    }

    &:active {
        color: #8b8b8b;
    }

    &--send-icon {
        position: absolute;
        right: -$wrapper-md;
        bottom: rem-calc(-16px);

        @include md {
            right: -$wrapper-sm;
        }

        @include lg {
            right: rem-calc(64px);
        }
    }
}